networks:
  thanos:
    name: thanos

services:
  prometheus-0-apsouth1:
    image: prom/prometheus:latest
    container_name: prometheus-0-apsouth1
    networks: [thanos]
    ports:
      - "9090:9090"
    volumes:
      - ./configs/prometheus01.yml:/etc/prometheus/prometheus.yml
      - ./configs/recording-rule.yml:/etc/prometheus/recording-rule.yml
      - ./data/prom1:/prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=10d
      - --storage.tsdb.min-block-duration=2h
      - --storage.tsdb.max-block-duration=2h
      - --web.enable-lifecycle
      - --web.enable-admin-api
      - --enable-feature=promql-experimental-functions

  prometheus-1-apsouth1:
    image: prom/prometheus:latest
    container_name: prometheus-1-apsouth1
    networks: [thanos]
    ports:
      - "9091:9091"
    volumes:
      - ./configs/prometheus02.yml:/etc/prometheus/prometheus.yml
      - ./data/prom10:/prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.listen-address=0.0.0.0:9091
      - --storage.tsdb.retention.time=10d
      - --storage.tsdb.min-block-duration=2h
      - --storage.tsdb.max-block-duration=2h
      - --web.enable-lifecycle
      - --web.enable-admin-api
      - --enable-feature=promql-experimental-functions

  prometheus-0-apsouth2:
    image: prom/prometheus:latest
    container_name: prometheus-0-apsouth2
    networks: [thanos]
    ports:
      - "9092:9092"
    volumes:
      - ./configs/prometheus1.yml:/etc/prometheus/prometheus.yml
      - ./data/prom2:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.listen-address=0.0.0.0:9092
      - --web.enable-lifecycle
      - --web.enable-admin-api
      - --enable-feature=promql-experimental-functions

  sidecar-0:
    image: thanos:latest
    container_name: sidecar-0
    networks: [thanos]
    ports:
      - "19091:19091"
    volumes:
      - ./data/prom1:/prometheus
      - ./configs/bucket_storage.yml:/etc/thanos/bucket.yml
    command:
      - sidecar
      - --tsdb.path=/prometheus
      - --prometheus.url=http://prometheus-0-apsouth1:9090
      - --objstore.config-file=/etc/thanos/bucket.yml
      - --http-address=0.0.0.0:19091
      - --grpc-address=0.0.0.0:19191
      - --shipper.upload-compacted

  sidecar-1:
    image: thanos:latest
    container_name: sidecar-1
    networks: [thanos]
    ports:
      - "19092:19092"
    volumes:
      - ./data/prom10:/prometheus
    command:
      - sidecar
      - --tsdb.path=/prometheus
      - --prometheus.url=http://prometheus-1-apsouth1:9091
      - --http-address=0.0.0.0:19092
      - --grpc-address=0.0.0.0:19192

  sidecar-2:
    image: thanos:latest
    container_name: sidecar-2
    networks: [thanos]
    ports:
      - "19090:19090"
    volumes:
      - ./data/prom2:/prometheus
    command:
      - sidecar
      - --tsdb.path=/prometheus
      - --prometheus.url=http://prometheus-0-apsouth2:9092
      - --http-address=0.0.0.0:19090
      - --grpc-address=0.0.0.0:19190

  minio:
    image: minio/minio:RELEASE.2025-02-28T09-55-16Z
    container_name: minio
    networks: [thanos]
    ports:
      - "9000:9000"
      - "44575:44575"
    volumes:
      - ./data/minio:/data
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: yayyayyay
    command: server --console-address "0.0.0.0:44575" /data

  store-gateway:
    image: thanos:latest
    container_name: store-gateway
    networks: [thanos]
    ports:
      - "19094:19094"
    volumes:
      - ./configs/bucket_storage.yml:/etc/thanos/bucket.yml
    command:
      - store
      - --objstore.config-file=/etc/thanos/bucket.yml
      - --http-address=0.0.0.0:19094
      - --grpc-address=0.0.0.0:19194

  thanos-compact:
    image: thanos:latest
    container_name: thanos-compact
    networks: [thanos]
    ports:
      - "19095:19095"
    volumes:
      - ./configs/bucket_storage.yml:/etc/thanos/bucket.yml
      - ./data/compact:/data
    command:
      - compact
      - --objstore.config-file=/etc/thanos/bucket.yml
      - --data-dir=/data
      - --wait
      - --wait-interval=30s
      - --http-address=0.0.0.0:19095

  querier-1:
    image: thanos:latest
    container_name: querier-1
    networks: [thanos]
    ports:
      - "29091:29091"
      - "29093:29093"
    command:
      - query
      - --http-address=0.0.0.0:29091
      - --grpc-address=0.0.0.0:29093
      - --query.replica-label=replica
      - --endpoint=sidecar-0:19191
      - --endpoint=sidecar-2:19190
      - --endpoint=store-gateway:19194
      - --enable-feature=promql-experimental-functions

  querier-2:
    image: thanos:latest
    container_name: querier-2
    networks: [thanos]
    ports:
      - "29092:29092"
      - "29094:29094"
    command:
      - query
      - --http-address=0.0.0.0:29092
      - --grpc-address=0.0.0.0:29094
      - --query.replica-label=replica
      - --endpoint=sidecar-1:19192
      - --enable-feature=promql-experimental-functions

  querier-main:
    image: thanos:latest
    container_name: querier-main
    networks: [thanos]
    ports:
      - "29090:29090"
    command:
      - query
      - --http-address=0.0.0.0:29090
      - --query.mode=distributed
      - --endpoint=querier-1:29093
      - --endpoint=querier-2:29094
      - --enable-feature=promql-experimental-functions

  thanos-query-frontend:
    image: thanos:latest
    container_name: thanos-query-frontend
    networks: [thanos]
    ports:
      - "29089:29089"
    command:
      - query-frontend
      - --http-address=0.0.0.0:29089
      - --query-frontend.downstream-url=http://querier-main:29090
      - --query-range.split-interval=5m

  thanos-rule:
    image: thanos:latest
    container_name: thanos-rule
    networks: [thanos]
    ports:
      - "10902:10902"
    volumes:
      - ./configs/recording-rule.yml:/etc/prometheus/rules.yml
    command:
      - rule
      - --eval-interval=1m
      - --rule-file=/etc/prometheus/rules.yml
      - --alert.query-url=http://querier-main:29090
      - --query=querier-1:29093
      - --query=querier-2:29094
      - --http-address=0.0.0.0:10902
